cache
config
libraries
logs
plugins
versions
world
world_nether
world_the_end
.console_history
banned-ips.json
banned-players.json
build.txt
bukkit.yml
commands.yml
help.yml
ops.json
paper.jar
permissions.yml
server.properties
spigot.yml
usercache.json
version_history.json
whitelist.json

backups